**.pyc
**.idea/**
__pycache__/
uniparser-morph/errors.log
uniparser_ossetic/data_strict/bad_analyses.txt
uniparser_ossetic/data_nodiacritics/bad_analyses.txt
errors.log
analyzed.txt
unanalyzed.txt
import_test.py
lexemes.txt
paradigms.txt
derivations.txt
lex_rules.txt
clitics.txt
add_lex/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
venv/
ENV/